{% extends 'layout/base.html' %}


{% block content %}
<div id="booking" class="section d-flex align-items-center justify-content-center mt-5">
    <div class="col-md-6">
        <div class="booking-form">
            <form>
                <div class="form-group">
                    <div class="form-checkbox">
                        <label>
                            <input type="radio" id="roundtrip" name="flight-type">
                            <span></span>Round trip
                        </label>
                        <label>
                            <input type="radio" id="oneway" name="flight-type">
                            <span></span>One way
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="form-label">Flying from</span>
                            <input class="form-control" type="text" placeholder="City or airport">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="form-label">Flying to</span>
                            <input class="form-control" type="text" placeholder="City or airport">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="form-label">Departing</span>
                            <input class="form-control" type="date" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="form-label">Returning</span>
                            <input class="form-control" type="date" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="form-label">Adults (18+)</span>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <span class="select-arrow"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="form-label">Children (0-17)</span>
                            <select class="form-control">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <span class="select-arrow"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="form-label">Travel class</span>
                            <select class="form-control">
                                <option>Economy class</option>
                                <option>Business class</option>
                            </select>
                            <span class="select-arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="form-btn">
                    <div class="mt-3">
                        <button class="submit-btn" type="submit">Show flights</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

